* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cart_container {
  width: 100vw;
  padding: 20px;
}
.cart_items {
  width: 80%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.cart_product_container {
  width: 100%;
}
.product_details {
  flex: 1;
  height: 150px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_img {
  width: 200px;
  height: 100px;
}

.product_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_price {
  font-size: 25px;
  letter-spacing: 1px;
}
.delete_btn {
  padding: 10px 30px;
  background-color: tomato;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}

.checkout_detail {
  width: 30%;
}
.cart {
  position: absolute;
  width: 20%;
  padding: 20px;
  top: 0;
  border-radius: 5px;
  background-color: silver;
}
.cart p {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}

.line {
  width: 100%;
  margin: 20px auto;
  border: 1px solid black;
}

.total {
  font-weight: bold;
}

.checkout_btn {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  padding: 5px;
  font-size: 18px;
  background-color: tomato;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .cart_items {
    width: 100%;
    flex-direction: column-reverse;
  }
  .product_details {
    height: 100px;
  }
  .product_img {
    width: 100px;
    height: 100px;
  }
  .product_price {
    font-size: 18px;
    letter-spacing: normal;
  }
  .delete_btn {
    padding: 5px;
  }
  .checkout_detail {
    width: 90%;
    margin: 0 auto;
  }
  .cart {
    width: 100%;
    position: static;
    margin-bottom: 20px;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1023px) {
  .cart_items {
    width: 100%;
  }
  .checkout_detail {
    width: 40%;
  }
  .cart {
    width: 100%;
    position: static;
  }
}
