* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_section {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_detail_container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.details_img {
  width: 40%;
}
.details_img img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.product_details {
  margin-left: 20px;
}

.product_details h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.product_details p {
  font-size: 18px;
  margin: 8px 0;
}

.product_bp {
  display: flex;
  align-items: center;
}

.product_details_btn {
  padding: 10px 20px;
  background-color: tomato;
  border: 0 solid;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .product_detail_container {
    width: 100%;
    flex-direction: column;
  }
  .details_img {
    width: 90%;
    margin: 0 auto;
  }

  .product_details {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .product_detail_container {
    width: 100%;
    justify-content: space-between;
  }
  .product_details {
    margin-left: 10px;
    flex: 1;
  }
}
