* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile_container {
  width: 100vw;
  height: 100vh;
}
.profile-details {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}

.profile_image {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  object-fit: contain;
  border-radius: 5px;
}

.user_information {
  margin-left: 20px;
}
.user_information p {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.edit_btn {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 5px;
  background-color: tomato;
  font-size: 18px;
  color: white;
  text-align: center;
  width: 200px;
  padding: 10px 0;
}
